

<div class="row well">

<h2 class="question-content">{{question.content}}</h2>

<hr><hr><br>

<h3 class="question-elaboration">{{question.notes}}</h3>
</div>

  <div class="q-crud">
    <button {{action 'delete' question}}>Poof!</button>
    <br>
  </div>
