

<h2>Question: {{question.content}}</h2>

<h3>Here is an elaborationon the question.<hr>
  {{question.notes}}</h3>

<hr><hr>
  <div class="q-crud">
    <button {{action 'delete' question}}>Poof!</button>

  </div>
