

<div class="row well">

<h2 class="question-body">{{question.body}}</h2>

<hr><hr><br>

<h3 class="question-elaboration">{{question.notes}}</h3>
</div>

<div class="answer-tile">
  <h3>Contributions</h3>
  <ul>
    {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
    {{/each}}
  </ul>
</div>


    <button {{action 'delete' question}}>Poof!</button>
    <br>
