




.nav-logo {
  width: 11%;
  background-color: orange;
  opacity: .6;

}

.entire-tile {
}

.each-tile {
  border: 2px solid purple;
  padding: 2%;
  margin-top: 2%;
  box-shadow: 3px 3px 5px purple;
}

.each-tile:hover {
  box-shadow: 3px 3px 5px blue;
  outline: 5px lightblue;
}
