
<nav class="navbar navbar-inverse">
  <div class="container fluid">
    <div class="navbar-header">
      <a class="navbar-brand">q-Forum{{#link-to 'index'}}<img class="nav-logo" src="/assets/images/logo.png" alt="Logo">{{/link-to}}</a>
    </div>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
  </div>
</nav>

<div class="container">

{{outlet}}

</div>
